<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="Plantilla.core.Properties.Settings.H2H" connectionString="Data Source=10.0.0.51\URBANISMO;Initial Catalog=PS_H2H_PROYECCION;Persist Security Info=True;User ID=publicaciones;Password=S3rv1c10sPubl1c4d0s*;Application Name=PS_H2H_PROYECCION" providerName="System.Data.SqlClient"/>
  <add name="Plantilla.core.Properties.Settings.Desarrollo" connectionString="Data Source=190.106.76.120,1434;Initial Catalog=H2H;Persist Security Info=True;User ID=Publicaciones;Password=S3rv1c10sPubl1c4d0s*" providerName="System.Data.SqlClient"/>
  <add name="Plantilla.core.Properties.Settings.H2HConnectionString1" connectionString="Data Source=190.106.76.120,1434;Initial Catalog=H2H;Persist Security Info=True;User ID=publicaciones;Password=S3rv1c10sPubl1c4d0s*" providerName="System.Data.SqlClient"/>
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
